# VSC Files
.vscode/*
*.code-workspace
# VS Files
/.vs/*
# CMake Files
CMakeFiles/*
CMakeCache.txt
# Build
build/*
install/*
# Dependencies
dependencies/*
# Documentation
/doc/Doxyfile
/doc/extra_style.css
/doc/footer.html
/doc/header.html
# website
public
