# VSC Files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# CMake Files
CMakeFiles/*
CMakeCache.txt
# Build
build/*
install/*
# Dependencies
dependencies/*
# Textures -> A few example textures should be added for now.
# res/textures/*