# VSC Files
.vscode/*
*.code-workspace
# CMake Files
CMakeFiles/*
CMakeCache.txt
# Build
build/*
install/*
# Dependencies
dependencies/*
# Textures -> A few example textures should be added for now.
# res/textures/*
# Documentation
/doc/Doxyfile
/doc/extra_style.css
/doc/footer.html
/doc/header.html
