<ul class="pl-2">
    <li>
        Building and running on Linux and Windows.
    </li>
    <li>
        Basic support of GLTF models (No animations yet, some features missing, no draco encoding)
    </li>
    <li>
        HDR support and image based lighting
    </li>
    <li>
        Basic GUI with DearImGui
    </li>
    <li>
        Many physically based rendering features
    </li>
    <li>
        Deferred rendering with OpenGL backend
    </li>
    <li>
        Entity Component System
    </li>
    <li>
        Basic framework architecture
    </li>
    <li>
        Editor featuring .gltf and .hdr file loading and a simple camera controller
    </li>
</ul>