<ul class="pl-2">
    <li>
        Implementing the compilation and saving of scenes (own format and gltf export)
    </li>
    <li>
        Support for GLTF animations
    </li>
    <li>
        Support for translucent materials
    </li>
    <li>
        Rendering improvements (performance and appearance)
    </li>
    <li>
        Scene management improvements
    </li>
    <li>
        GUI with DearImGui
    </li>
    <li>
        Performance measurement tools
    </li>
    <li>
        Editor improvements and some better examples for the use of Mango
    </li>
    <li>
        Many features like shadows, global light effects (GI, AO, reflections), live editing, hot swapable resources, and more
    </li>
</ul>