html {
    overflow-y: scroll;
}

body {
    font-family: sans-serif;
    background-color: #222222;
    color: #cccccc;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    /* Scaling will be done by layout */
}

/* Landscape phones and down */
@media (max-width: 480px){
    /* Scaling will be done by layout */
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) {
    .max-content-width {
        max-width: 979px;
    }
    .sidebar-mango {
        min-width: 275px !important;
    }
}

/* Large desktop */
@media (min-width: 1600px) {
    .max-content-width {
        max-width: 1280px;
    }
    .sidebar-mango {
        min-width: 320px !important;
    }
}

/* Widesceen desktop */
@media (min-width: 2560px) {
    .max-content-width {
        max-width: 1920px;
    }
    .sidebar-mango {
        min-width: 495px !important;
    }
}

/*
mango-primary color: #ffcc22
mango-light color: #ffe75d
mango-dark color: #c79c00
dark color: #222222
light dark color: #333333
*/

/* navbar */
.navbar-mango {
    background-color: #222222;
    box-shadow: black 0 0 12px;
}

.navbar-mango .navbar-brand,
.navbar-mango .navbar-brand:focus,
.navbar-mango .navbar-brand:hover {
    color: #ffcc22;
}

.navbar-mango .navbar-nav .nav-item .nav-link.active,
.navbar-mango .navbar-nav .nav-item .nav-link:focus,
.navbar-mango .navbar-nav .nav-item .nav-link:hover {
    color: #c79c00;
}

.navbar-mango .navbar-nav .nav-item .nav-link {
    color: #888888;
}

/* body */
.page-content h2 {
    margin-top: 36px;
}

.page-content h3 {
    margin-top: 28px;
}

.page-content h4 {
    margin-top: 24px;
}

.page-content p {
    margin-top: 12px;
}

.page-content hr {
    border-top: 1px solid #c79c00;
}

.page-content a {
    color: #ffcc22;
}

.page-content a:focus,
.page-content a:hover {
    color: #ffe75d;
}


.mango-link {
    color: #ffcc22;
}

.mango-link:focus,
.mango-link:hover {
    color: #ffe75d;
}

.card {
    background-color: #333333;
}

.mango-card-link {
    color: #ffcc22;
}

.mango-card-link:focus,
.mango-card-link:hover {
    color: #ffcc22;
    background-color: #222222;
    text-decoration: none;
}

.carousel img{
    min-width: auto;
    object-fit: contain;
}

.clickup-embed {
  width: 100%;
  height: 750px;
}

.post-date {
    color: #888888;
}

.post-content {
    padding-left: 5%;
    padding-right: 5%;
}

.post-content img[src*="#center"] {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.post-content img[src*="#inline"] {
    display: inline-flex;
}

.post-content img[src*="#inline-left"] {
    display: inline-flex;
    float: left;
}

.post-content img[src*="#inline-right"] {
    display: inline-flex;
    float: right;
}

.post-card {
    background-color: #222222;
    background-size: cover !important;
    background-position: center !important;
    background-blend-mode: overlay !important;
}

/* footer */

.page-footer {
    color: #888888;
}


.post-content img {
    max-width: 50%;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .post-content img {
        max-width: 100%;
    }
}

.highlight pre { background-color: #272822; }
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
