---
layout: wrap-reverse
---

<div class="d-flex flex-column justify-content-between sidebar-mango col-lg-1">
    <div class="card mt-3 flex-grow-1">
        <div class="card-body">
            <h1 class="card-title">Other Posts</h1>
            <div class="card-text">
                {% for post in site.posts %}
                {% assign currentdate = post.date | date: "%Y" %}
                {% if currentdate != date %}
                {% unless forloop.first %}</ul>{% endunless %}
                <h4 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h4>
                {% assign date = currentdate %}
                {% endif %}
                <a class="mango-card-link d-flex p-2" href="{{ post.url }}">
                    <span class="pl-2"> {{ post.title}} </span>
                    <span class="post-date ml-auto pl-2"> {{ post.date | date: "%b %-d, %Y" }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column justify-content-between col">
    <div class="card mt-3 flex-grow-1">
        <div class="card-body post-card" style="background-image:url({{ page.fimg | relative_url }});">
            <h1 class="card-title">{{ page.title }}</h1>
            <h2 class="card-text">{{ page.subtitle }}</h2>
            <span class="post-date"> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
    </div>
    <div class="card mt-3 flex-grow-1">
        <div class="card-body">
            <div class="post-content card-text text-justify">
                {{ content }}
            </div>
        </div>
    </div>
</div>